*{
    box-sizing: boder-box;
    font-family: '標楷體';
    overflow: hidden;
}
.main{
    display: flex;
    width:1024px;
    padding:012px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

}
body>* :not(aside,sction),aside > *, section . *{

}
.top{
width:200px;
height:100px;
background-color: lightgray;
}
.aside{

}
.menu{

}
.update{

}
.section{

}
.marquee{

}
content{

}
footer{

}