* {
    font-family: '標楷體';
    box-sizing: border-box;
    overflow: hidden;
}

body>*:not(aside, section), aside>*, section>* {
    border: 1px solid lightgray;
}

.main {
    background-color: rgb(255, 255, 254);
    width: 1024px;
    /* height: 768px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 12px 0;
    /* margin: 0 10px; */
}

.top {
    flex-basis: 1024px;
    height: 65px;
}

/* aside */

.aside {
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    display:flex;
    flex-direction:column ;
}

/* aside .menu */

.menu {
    flex-basis: calc(100% - 25px); 
}

.aside-menu-header{
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    margin:10px;
    color:#FF00FF;
}

#gitar{
    text-decoration: underline;
}

.aside>nav>a{
    color:#000000;
    font-size: 16px;
    text-decoration:none;
    display:inline-block;
    width: 200px;
    height:30px;
    background:url(../images/menu1.png);
    text-align:center;
}

.menu>a:hover{
    color:blue;
    background:url(../images/menu2.png)

}


/* aside .update */

.update {
    flex-basis: 25px;
    font-size: 16px;
    color:#000000;
    text-align:center;
}

/* section */

.section {
    flex-basis: calc(100% - 215px);
    display: flex;
    flex-direction: column;
}

/* section .marquee */

.marquee {
    flex-basis:29px;
    color:#0000FF;
    font-size: 24px;
}

/* section .contain */

.contain {
    flex-basis: calc(100% - 29px);
    
}

/* footer */

.footer {
    width:1024px;
    height:20px;
    font-size: 16px;
    text-align: center;
    color:#000000;
    
}